<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <h1>This will be the reader</h1>
    <% if (typeof json !== "undefined" && json !== null) { %>
      <em><%= JSON.stringify(json, null, 4) %></em>
    <% } %>
  </body>
</html>
