@font-face {
    font-family: Sentinel;
    font-weight: 400;
    src: url("/assets/Sentinel-Book.otf") format("opentype");
}

@font-face {
    font-family: Sentinel;
    font-weight: 400;
    font-style: italic;
    src: url("/assets/Sentinel-BookItalic.otf") format("opentype");
}

@font-face {
    font-family: Sentinel;
    font-weight: 500;
    src: url("/assets/Sentinel-Semibold.otf") format("opentype");
}

@font-face {
    font-family: Sentinel;
    font-weight: 500;
    font-style: italic;
    src: url("/assets/Sentinel-SemiboldItalic.otf") format("opentype");
}
