<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% errorList = ['No URL', 'Invalid URL', 'API Request Error'] %>
    <% if (data !== null && data.result !== null) { %>
      <% if (data.result.openGraph !== null) { %>
        <h1><%= data.result.openGraph.title %></h1>
      <% } %>
      <% if (data.result.openGraph !== null) { %>
        <img src="<%= data.result.openGraph.image %>">
      <% } %>
      <% if (data.result.scrapedContent !== null) { %>
        <%- data.result.scrapedContent %>
      <% } %>
    <% } else { %>
      <h1><%= errorList[error] %></h1>
    <% } %>
  </body>
</html>
