<nav class="navbar">
  <div class="container">
    <div  class="navbar__wrapper">
      <div class="navbar__logo">
        <span>Contentify</span>
      </div>
      <%= render 'shared/navbar/search' %>
      <%= render 'shared/navbar/controls' %>
    </div>
  </div>
</nav>
