* {
  box-sizing: border-box;
}

body {
  font-size: $desktop-base-font-size;
  font-family: TiemposText, sans-serif;
  font-weight: 400;
  color: $black;
  background-color: #FFFFFF;

  transition: color, background-color $theme-transition-duration ease-in-out;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: $b-mobile) {
    font-size: $mobile-base-font-size;
  }
}

h1 {
  font-size: em(40px);
  font-weight: 500;

  @media screen and (max-width: $b-tablet) {
    font-size: em(30px);
  }
}

h2, h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: em($spacing-loose);
  margin-bottom: em($spacing);
  letter-spacing: -0.1px;
  line-height: 1.5;

  + p {
    margin-top: 0;
  }

  br {
    display: block;
  }
}

h4, h5, h6 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: $spacing-loose;
  margin-bottom: $spacing;

  + p {
    margin-top: 0;
  }

  br {
    display: block;
  }
}

br {
  display: none;
}

p {
  font-weight: 400;
  line-height: 30px;
  margin: em(30px) 0;

  br {
    display: inline-block;
  }

  &:first-child {
    margin-top: 0;
  }
}

img {
  max-width: 100%;
  border-radius: 3px;
  margin-bottom: $spacing-super-loose;
}

figure {
  margin: 0;
  margin-bottom: $spacing;
  text-align: center;
  font-size: 0.9em;
  color: $black-3;

  span {
    display: inline-block;
    margin-bottom: $spacing;
  }
}

a {
  color: $blue;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

blockquote {
  position: relative;
  color: $black-3;
  font-style: italic;
  margin: $spacing-super-loose 0;
  line-height: 1.4;
  border-left: 2px solid $black-3;
  padding: $spacing-tight 0;
  padding-left: $spacing-loose;

  p {
    margin: 0;
  }

  br {
    display: block;
  }
}

pre {
  background-color: #f3f3f3;
  padding: $spacing-loose;
  white-space: pre-wrap;
  font-size: 0.9em;
  margin: 0;

  br {
    display: block;
  }

  code {
    margin: 0;
    padding: 0;
  }
}

code {
  font-size: 0.9em;
  background: #f3f3f3;
  padding: 3px 4px;
  margin: 0 2px;
}

strong {
  font-weight: 500;
}

caption {
  font-size: 0.6em;
}

li {
  margin-bottom: $spacing-loose;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1em;
  margin-left: 1em;
  text-indent: -2em;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    display: inline;
  }
}

ul {
  margin: $spacing-super-loose 0;
  list-style: none;
  padding: 0;

  li {
    list-style-position: inside;
  }
}

button {
  outline: none;
  border: 0;
}

iframe {
  display: block;
  width: 560px;
  height: 315px;
  margin: $spacing-loose auto;
  border: 0;

  @media screen and (max-width: $b-mobile) {
    width: 100%;
    height: auto;
  }
}

input {
  font-family: TiemposText, sans-serif;
}
