@font-face {
  font-family: Tiempos;
  font-weight: 400;
  src: url("/assets/TiemposText-Regular.otf") format("opentype");
}

@font-face {
  font-family: Tiempos;
  font-weight: 400;
  font-style: italic;
  src: url("/assets/TiemposText-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: Tiempos;
  font-weight: 500;
  src: url("/assets/TiemposText-Medium.otf") format("opentype");
}

@font-face {
  font-family: Tiempos;
  font-weight: 500;
  font-style: italic;
  src: url("/assets/TiemposText-Medium.otf") format("opentype");
}

@font-face {
  font-family: Tiempos;
  font-weight: 600;
  src: url("/assets/TiemposText-Semibold.otf") format("opentype");
}

@font-face {
  font-family: Tiempos;
  font-weight: 600;
  font-style: italic;
  src: url("/assets/TiemposText-Semibold.otf") format("opentype");
}
