@font-face {
  font-family: TiemposText;
  font-weight: 400;
  src: asset-url("TiemposText-Regular.otf") format("opentype");
}

@font-face {
  font-family: TiemposText;
  font-weight: 400;
  font-style: italic;
  src: asset-url("TiemposText-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: TiemposText;
  font-weight: 500;
  src: asset-url("TiemposText-Medium.otf") format("opentype");
}

@font-face {
  font-family: TiemposText;
  font-weight: 500;
  font-style: italic;
  src: asset-url("TiemposText-Medium.otf") format("opentype");
}

@font-face {
  font-family: TiemposText;
  font-weight: 600;
  src: asset-url("TiemposText-Semibold.otf") format("opentype");
}

@font-face {
  font-family: TiemposText;
  font-weight: 600;
  font-style: italic;
  src: asset-url("TiemposText-Semibold.otf") format("opentype");
}
