.article {
  padding: 0 $spacing;
  margin: $spacing-loose * 3 auto;

  @media screen and (max-width: $b-tablet) {
    margin: $spacing-loose * 2 auto;
  }

  @media screen and (max-width: $b-mobile) {
    margin: $spacing-loose auto;
  }
}

.article--small {
  max-width: 900px;
}

.article--medium {
  max-width: 1000px;
}

.article--large {
  max-width: auto;
}

.article__title {
  margin: 0;
  font-weight: 500;
  font-style: italic;
  margin-bottom: $spacing;
}

.article__details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacing-super-loose;
  font-size: 0.8em;

  span {
    border-right: 1px solid $black;
    padding-right: $spacing;
    margin-right: $spacing;
    margin-bottom: $spacing;

    &:last-child {
      margin-right: 0;
      border-right: 0;
      padding-right: 0;
    }
  }

  @media screen and (max-width: $b-mobile) {
    margin-bottom: $spacing;
  }
}

.article__lead-image {
  width: 100%;
}

.article__content {
  padding: $spacing-loose 100px;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
  }

  @media screen and (max-width: $b-tablet) {
    padding: $spacing-loose 0;
  }
}
