.article {
  position: relative;
  padding: 0 $spacing;
  margin: $spacing-loose * 4 auto;
  margin-bottom: 0;
  max-width: 1044px;

  @media screen and (max-width: $b-desktop) {
    max-width: 800px;
  }

  @media screen and (max-width: $b-tablet-landscape) {
    padding: 0 $spacing-super-loose;
  }

  @media screen and (max-width: $b-tablet) {
    padding: 0 $spacing;
  }
}

.article--font-size-small {
  font-size: 0.8em;
}

.article--font-size-medium {
  font-size: 1em;
}

.article--font-size-large {
  font-size: 1.2em;
}

.article__title {
  margin: 0;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: $spacing-loose;
}

.article__details {
  display: flex;
  flex-wrap: wrap;
  color: $black-3;
  margin-bottom: $spacing-loose * 2;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.1px;
  font-size: 0.8em;
  font-weight: 500;
  transition: color $theme-transition-duration ease-in-out;

  span {
    border-right: 1px solid $black;
    padding-right: $spacing;
    margin-right: $spacing;
    margin-bottom: $spacing;

    &:last-child {
      margin-right: 0;
      border-right: 0;
      padding-right: 0;
    }
  }

  @media screen and (max-width: $b-mobile) {
    margin-bottom: $spacing;
  }
}

.article__lead-image {
  border-radius: 12px;
  width: 100%;
}

.article__content {
  padding: $spacing-loose 0;
  margin: 0 auto;
  max-width: 700px;

  > :first-child {
    margin-top: 0;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
  }

  p > img {
    margin-top: $spacing-loose;
  }

  @media screen and (max-width: $b-desktop) {
    padding: $spacing-loose 0;
  }
}

.article-controls {
  display: flex;
  position: absolute;
  height: 100%;
  top: 10px;
  left: 0;
  z-index: 2;
  background-color: #fff;
  transition: background-color $theme-transition-duration ease-in-out;

  @media screen and (max-width: $b-tablet-landscape) {
    position: fixed;
    height: auto;
    width: 100%;
    top: 4px;
    padding: $spacing 32px;
    left: 0;
    transition: background-color, box-shadow $theme-transition-duration ease-in-out;
  }

  @media screen and (max-width: $b-tablet) {
    padding: $spacing 8px;
  }
}

.article-controls--shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.article-controls__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $b-tablet-landscape) {
    flex-direction: row;
    width: 100%;
  }
}

.article-controls__list-item {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-indent: 0;

  img {
    margin: 0;
    width: 22px;
  }

  @media screen and (max-width: $b-tablet-landscape) {
    margin-left: $spacing;

    &:first-child {
      flex: 1;
      margin-left: 0;
    }
  }
}

.article-controls__button {
  display: flex;
  background-color: transparent;
  border: none;
  padding: $spacing-tight;
  margin-bottom: 16px;
  outline: none;

  img {
    border-radius: 0;
  }

  @media screen and (max-width: $b-tablet-landscape) {
    margin-bottom: 0;
  }
}

.article-footer {
  position: absolute;
  border-top: 1px solid #CCCCCC;
  padding: $spacing;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.article-footer__text {
  font-size: 0.9em;
  margin: 0;
}
