$background-color: #222222;
$text-color: #EEEEEE;

.dark-theme {
  background-color: $background-color;
  color: $text-color;

  .fab,
  .progress-bar__level  {
    background-color: $yellow;
  }

  .popover__container {
    background-color: $text-color;
  }

  .article-controls {
    background-color: $background-color;
  }

  figure {
    color: $text-color;
  }

  blockquote {
    color: #bdbdbd;
  }

  .article__details span {
    color: $text-color;
    border-right: 1px solid $text-color;

    &:last-child {
      border-right: 0;
    }
  }

  a {
    color: $yellow;
  }

  .popover__button {
    color: $black;
  }

  .fab {
    polygon {
      fill: $black;
    }
  }

  pre,
  code {
    background-color: $black-3;
  }

  .article-controls__button {
    path {
      fill: $text-color;
    }
  }
}
