$background-color: #222222;
$text-color: #EEEEEE;

.dark-theme {
  background-color: $background-color;
  color: $text-color;

  .loading-screen {
    background-color: $background-color;
    color: $text-color;
  }

  .fab,
  .progress-bar__level  {
    background-color: $yellow;
  }

  .popover__container {
    background-color: $text-color;
  }

  .article-controls {
    @media screen and (max-width: $b-tablet-landscape) {
      background-color: $background-color;
    }
  }

  .pages-list__link,
  figure {
    color: $text-color;
  }

  blockquote {
    color: #bdbdbd;
  }

  .pages-list__details span,
  .article__details span {
    color: $text-color;
    border-right: 1px solid $text-color;

    &:last-child {
      border-right: 0;
    }
  }

  a {
    color: $yellow;
  }

  input,
  .popover__button {
    color: $black;
  }

  .fab {
    &:active {
      background-color: darken($yellow, 1%);
    }

    polygon {
      fill: $black;
    }
  }

  pre,
  code {
    background-color: $black-3;
  }

  .navbar__controls-button,
  .article-controls__button {
    path {
      fill: $text-color;
    }
  }

  .search__input {
    color: #9B9B9B;

    &:focus {
      color: $black;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .pages-list__text {
    &:before {
      background-image: linear-gradient(-180deg, rgba($background-color, 0.00) 0%, rgba($background-color, 0.90) 100%);
    }
  }
}
