$avata-image-size: 40px;
$section-padding: 80px;
$section-padding-mobile: 100px;
$badge-list-item-max-width: 300px;
$facebook-color: #4065B4;
$search-field-padding-right: 130px;

.home-nav {
  display: flex;
  align-items: center;
  margin: $spacing-loose 0;

  @media screen and (max-width: $b-mobile) {
    flex-direction: column;
  }
}

.home-nav__brand {
  flex: 1;
  font-weight: 600;
  font-style: italic;
  font-size: em(26px);

  @media screen and (max-width: $b-mobile) {
    margin-bottom: $spacing-loose;
  }
}

.home-nav__list {
  display: flex;
  margin: 0;
}

.home-nav__list-item {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: em(16px);
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-position: unset;
  list-style: none;
  margin-left: $spacing;

  @media screen and (max-width: $b-tablet) {
    &:last-child {
      display: none;
    }
  }
}

.home-nav__list--with-border {
  .home-nav__list-item {
    border-left: 1px solid #d5d5d5;
    padding-left: $spacing;

    &:first-child {
      border-left: none;
    }
  }
}

.home-user-info-wrapper {
  display: flex;
  align-items: center;
}

.home-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: em(18px);
  margin-right: $spacing-tight;
}

.home-user-info__avatar {
  width: $avata-image-size;
  height: $avata-image-size;
  margin: 0;
  margin-right: $spacing-tight;
}

.home-user-info__name {
  font-weight: 500;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding 0;
}

.home-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: $spacing-loose;
  font-style: italic;
  font-weight: 600;
  font-size: 2.5em;

  @media screen and (max-width: $b-tablet) {
    font-size: 1.8em;
  }
}

.home-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  max-width: 600px;
  font-size: em(32px);
  line-height: em(28px);

  @media screen and (max-width: $b-tablet) {
    font-size: em(24px);
    padding: 0 $spacing;
  }
}

.home-search-wrapper {
  display: flex;
  padding: 0 $spacing;
  margin-top: $spacing-loose;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: $b-tablet) {
    flex-direction: column;
    width: 100%;
  }
}

.home-search-field[type="search"] {
  font-weight: 600;
  outline: none;
  width: 550px;
  box-sizing: border-box;
  margin-bottom: $spacing;
  padding: $spacing 0;
  padding-right: $search-field-padding-right;
  text-overflow: ellipsis;
  color: $black;
  border: 0;
  border-bottom: 1px solid $gray-dark;
  transition: border-bottom $theme-transition-duration ease-in-out;
  
  &:focus {
    border-bottom: 1px solid $black;
  }

  @media screen and (max-width: $b-tablet) {
    width: auto;
    padding-right: 0;
  }
}

.home-search-field--error {
  border-bottom: 1px solid $red !important;
}

.home-search-button {
  position: absolute;
  right: $spacing;
  background: none;
  padding: $spacing 0;
  padding-left: $spacing;
  color: $black-3;
  transition: color 100ms ease-in-out;

  &:not(.home-search-button--disabled):hover {
    color: $black;
  }

  @media screen and (max-width: $b-tablet) {
    position: relative;
  }
}

.home-search-button--disabled {
  cursor: none;
  color: white;
}

.home-badge-list {
  display: flex;
  justify-content: center;
  margin-top: $spacing-super-loose * 2;
  margin-bottom: 0;
}

.home-badge-list__item {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-position: unset;
  list-style: none;
  max-width: $badge-list-item-max-width;

  img {
    display: flex;
    margin: 0;
  }
}

.home-facebook-link {
  display: flex;
  align-items: center;
  background-color: $facebook-color;
  padding: 8px $spacing;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  transition: background $theme-transition-duration ease-in-out;

  svg {
    margin-right: $spacing;
  }

  &:hover {
    background-color: darken($facebook-color, 4%);
  }
}
