$link-background: transparent;
$link-background-hover: #f8f8f8;

.link {
  display: inline-block;
  padding: $spacing-tight;
  background-color: $link-background;
  border-radius: 5px;
  font-size: em(18px);
  color: $black;
  text-decoration: none;

  transition: background $theme-transition-duration ease-in-out;

  &:hover,
  &:focus {
    background-color: $link-background-hover;
  }
}

.link--large {
  padding: $spacing;
}

.link--plain {
  text-decoration: none;
  padding: 0;

  &:hover,
  &:focus {
    background-color: $link-background;
  }
}

.link--link {
  text-decoration: none;
  padding: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
    background-color: $link-background;
  }
}
