$popover-size: 36px;

.popover {
  position: absolute;
  z-index: -1;
}

.popover__container {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: $popover-size;
  border-radius: 3px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  background-color: #FFFFFF;

  transition: all $theme-transition-duration ease-in-out;

  @media screen and (max-width: $b-tablet-landscape) {
    width: $popover-size;
    height: 100%;
  }
}

.popover__container--open {
  pointer-events: all;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.popover__button-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: $popover-size;
  margin-top: 0;

  @media screen and (max-width: $b-tablet-landscape) {
    flex-direction: column;
    margin-left: 0;
    margin-top: $popover-size;
  }
}

.popover__button {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0 $spacing-tight;
  outline: none;
  font-size: 0.667em;
  font-weight: 500;
  opacity: 0.5;
  transition: color, opacity $theme-transition-duration ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: $b-tablet-landscape) {
    padding: $spacing-tight 0;
    font-size: 0.8em;

    .hidden {
      display: none;
    }
  }
}

.popover__button--active {
  opacity: 1;

  &:hover {
    opacity: 1;
  }
}
