$progress-bar-size: 4px;

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 3;
}

.progress-bar__level {
  display: block;
  height: $progress-bar-size;
  background-color: $black;
  width: 0%;
}

.progress-bar__level--animate {
  transition: width 0.3s ease-in-out;
}
