.search__input {
  padding: 8px;
  background-color: rgba(200, 200, 200, 0.2);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.75em;
  width: 100%;
  transition: background-color $theme-transition-duration linear;

  &:focus {
    background-color: rgba(170, 170, 170, 0.2);
    outline: none;
  }

  @media screen and (max-width: $b-tablet) {
    font-size: 1em;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9B9B9B;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9B9B9B;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9B9B9B;
}
