$page-width: 1124px;

$unit: 5px;
$spacing-tight: $unit;
$spacing: $unit * 2;
$spacing-loose: $unit * 4;
$spacing-super-loose: $unit * 6;

$b-mobile:  600px;
$b-tablet:  900px;

$black: #191919;
$blue: #2a43ad;
