$unit: 6px;
$spacing-tight: $unit;
$spacing: $unit * 2;
$spacing-loose: $unit * 4;
$spacing-super-loose: $unit * 6;

$b-mobile:            414px;
$b-tablet:            767px;
$b-tablet-landscape:  1023px;
$b-desktop:           1200px;

$black: #191919;
$black-2: #222222;
$black-3: #515151;
$blue: #009EFF;
$yellow: #FFDC00;
$gray: #EEEEEE;
$gray-dark: #9b9b9b;
$red: #e73d42;

$theme-transition-duration: 150ms;

$desktop-base-font-size: 20px;
$mobile-base-font-size: 18px;
