<div class="article__fab">
  <%= button_to save_article_reader_index_path,
    class: 'fab',
    remote: true,
    params: {
      article: @article.article.to_json
    },
    data: {
      fab_role: 'save-page',
      fab_activate_modal: !user_signed_in?
    } do %>
    <%= svg 'fab/ic_add.svg' %>
  <% end %>
  <% unless user_signed_in? %>
    <div class="fab-modal" data-fab-modal-for="save-page">
      <div class="fab-modal__container">
        <div class="fab-modal__body">
          <h2 class="fab-modal__title">Sign in before saving a page!</h2>
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        </div>
        <div class="fab-modal__footer">
          <button type="button" class="fab-modal__button">close</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
